@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-secondary text-white">
    <h1 class="display-4">Welcome to</h1>
 <h3>BRONX COMMUNITY BLOG</h3>
 <br />
 <br />
             <img src="~/images/bronx.jpg" class="img-fluid" alt="Bronx community picture">
</div>
